Source: gnuae
Section: devel
Priority: optional
Maintainer: Rob Savoye <rob@senecass.com>
Standards-Version: 2.5.0.0

Package: gnuae
Architecture: all
Depends: dpkg (>=1.2.1)
Description: is a program for designing alternate energy power systems for off-grid houses.

